#root {
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

}
/*spins the logo*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.section {
  padding: 100px 0;
}


/* about */
.section-about {
  background-color: #f8f9fa;
}

/* Projects */
.section-projects {
  background-color: #f8f9fa;
}
.section.section-experience {
  background-image: url("src/assets/images/background2.jpg");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  min-height: 100vh;            
  display: flex;
  align-items: center;
}



.logo {
  height: 6rem;
}

.navbar-custom {
  background: rgba(0, 0, 0, 0.25);   /* visible on white + images */
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}



/* Navbar icon hover */
.navbar a:hover {
  color: #0d6efd;
}

/* Hover effect email text */
.navbar a:hover,
.email-text:hover {
  color: #0d6efd; /* Bootstrap blue */
  cursor: pointer;
}
/* Hover effect navbar icons */
.social-icon {
  color: white;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-icon:hover {
  color: #0d6efd; /* blue on hover */
}

.email-text {
  color: #e5e5e5;    
  font-size: 1rem;  
  transition: color 0.2s ease;
  user-select: text;
  margin-left: 10px;   /* moves right */
  margin-top: 4px;
}

.navbar .nav-link{
  color: #e5e5e5;       
  font-size: 1rem;  
  transition: color 0.2s ease;
}
.navbar-custom .nav-link.active {
  color: white !important;
  background: none !important;
}


.project-title {
  font-size: 1.5rem !important;   
  text-align: center !important;    
  font-weight: 600 !important;  
   color: #002d64 !important;   
}



.section-home h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}


/* background image */
.section-home {
  background-image: url("src/assets/images/background.jpg");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  min-height: 100vh;            
  display: flex;
  align-items: center;
}


.section-home h2 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
}

.section-home h4 {
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.6;
  color: #ffffff;
  max-width: 750px;    
  margin-top: 1.5rem;
}

.section-about h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: #002d64; 
}
.section-projects h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #002d64; 
}

.section.section-experience h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff; 
}


.img-right {
  float: right;
  max-width: 100%;  /* keeps it responsive */
  height: auto;
}

.tech-icons {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;
  gap: 20px;                 /* even spacing */
  margin: 15px 0;
}

.tech-icons i {
  font-size: 42px;
  cursor: pointer;
  transition: transform 0.25s ease, color 0.25s ease;
}

.tech-icons i:hover {
  transform: scale(1.25);
}


.footer {
  background-image: url("src/assets/images/background2.jpg");
  background-size: cover;           /* make it fill */
  background-position: center;      /* center image */
  background-repeat: no-repeat;     /* no tiling */
  color: #ffffff;                   /* text color */
  position: relative;
}
.custom-btn {
  background-color: #002d64 !important;
  color: white !important;
  border: none;
}

.custom-btn:hover {
  background-color: #03adfc !important;
  color: white !important;
}







/*Card hoover effects*/
.projects-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.work-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.about-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}